variables:
  MODULES_MODULE_NAME: "${CI_PROJECT_NAME}"
  MODULES_MODULE_TAG: ${CI_COMMIT_REF_NAME}
  BASE_IMAGES_VERSION: v0.2
  WERF_REPO: ${MODULES_MODULE_SOURCE}/${MODULES_MODULE_NAME}

before_script:
  # Setup trdl
  - |
    TRDL_ROOT="${HOME}/.trdl"
    trdl_target_version=$(curl -s https://tuf.trdl.dev/targets/channels/0/stable)
    TRDL_BIN="${TRDL_ROOT}/releases/${trdl_target_version}/trdl"
    if [[ ! -x "${TRDL_BIN}" ]]; then
      mkdir -p "${TRDL_ROOT}/releases/${trdl_target_version}"
      curl -sSLO "https://tuf.trdl.dev/targets/releases/${trdl_target_version}/linux-amd64/bin/trdl"
      mv trdl "${TRDL_BIN}"
      chmod +x "${TRDL_BIN}"
    fi
    ln -sfn "releases/${trdl_target_version}" "${TRDL_ROOT}/current"
    export PATH="${TRDL_ROOT}/current:${PATH}"
    
    echo "DEBUG: which trdl = $(which trdl)"
    echo "DEBUG: ls -la ${TRDL_ROOT} ="
    ls -la "${TRDL_ROOT}"
    echo "DEBUG: ls -laL ${TRDL_ROOT}/current ="
    ls -laL "${TRDL_ROOT}/current" || echo "ERROR: symlink not created!"
    echo "DEBUG: trdl check (call without flags):"
    trdl 2>&1 | head -3 || echo "ERROR: trdl not found in PATH!"
    echo "DEBUG: test trdl command:"
    trdl list 2>&1 | head -1 || echo "WARNING: trdl list does not work"

  # Setup werf
  - |
    trdl add werf https://tuf.werf.io 1 b7ff6bcbe598e072a86d595a3621924c8612c7e6dc6a82e919abe89707d7e3f468e616b5635630680dd1e98fc362ae5051728406700e6274c5ed1ad92bea52a2
    source $(trdl use werf ${WERF_VERSION:-1.2 stable})
    source $(werf ci-env gitlab --as-file)

    # Login to gitlab registry by default
    if [[ "x${MODULES_REGISTRY_LOGIN}" == "x" ]]; then
      MODULES_REGISTRY_LOGIN="${CI_REGISTRY_USER}"
    fi
    if [[ "x${MODULES_REGISTRY_PASSWORD}" == "x" ]]; then
      MODULES_REGISTRY_PASSWORD="${CI_REGISTRY_PASSWORD}"
    fi
    werf cr login -u ${MODULES_REGISTRY_LOGIN} -p ${MODULES_REGISTRY_PASSWORD} ${MODULES_REGISTRY}

  # Setup dmt
  - |
    trdl add dmt https://trrr.flant.dev/trdl-dmt/ 3 e77d785600a8c8612b84b93a5a2e4c48188d68f7478356d0708213e928bf67b024ed412e702dc32930da5c5bfc9b1c44be3ee7a292f923327815c91c6c3c3833
    source $(trdl use dmt 0 stable)

  # Download base images yaml file
  - env | grep BASE_IMAGES_VERSION
  - curl --fail -sSLO https://fox.flant.com/api/v4/projects/deckhouse%2Fbase-images/packages/generic/base_images/${BASE_IMAGES_VERSION}/base_images.yml
stages:
  - build
  - deploy
